<%= turbo_frame_tag 'wiki_search' do %>
  <% if params[:query] %>
    <% if @title && @languages %>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Languages</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= title %></td>
          <td><%= languages %></td>
        </tr>
        </tbody>
      </table>
    <% else %>
      <div>
        <p>Incorrect URL!</p>
      </div>
    <% end %>
  <% end %>
<% end %>
